body {
  text-align: center;
}

span {
  display: inline-block;
}
span {
  display: inline-block;
  background-color: rgb(221, 208, 224);
  padding: 10px;
  border: 1px solid darkgray;
} */


div,
span {
  margin: 10px;
}

span {
  border: 1px solid #333;
  
  padding: 10px 15px;
}
